header h1{
	display: inline;
	position: absolute;
	padding: 0px;
	margin: 0px;
	height: 1px;
	width: 1px;
	font-size: 0px;
	line-height: 0px;
	visibility: hidden;
}

/* Ribbon */

.ribbon-content-wrapper{
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.374px;
	line-height: 25px;
	text-align: center;
	background-color: rgb(227, 65, 64);
}

.ribbon-content-wrapper p,
.ribbon-content-wrapper a {
	padding: 0px 12px;
	color: white;
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.374px;
	line-height: 20.5883px;
	text-align: center;
	text-size-adjust: 100%;
}

/* Section: gifts */

.wide-wrapper{
	display: flex;
	flex-direction: column;
	height: 580px;
	position: relative;
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.374px;
	line-height: 25px;
	text-align: left;
	text-size-adjust: 100%;
}

.shoping-season{
	background-color: rgb(234, 242, 252);
	background-size: auto;
}

.unit-copy-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 29px;
	text-align: center;
	color: rgb(29, 29, 31);
	z-index: 4;
}

.apple-holiday-logo{
	height: 88px;
	width: 70px;
	background-image: url(https://www.apple.com/v/home/ah/images/logos/holiday-2021/logo__dcojfwkzna2q_large.png);
	background-size: 70px 88px;
}

.unit-img-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 29px;
	text-align: center;
	color: rgb(29, 29, 31);
	z-index: 1;
}

.home-gift-img1,
.home-gift-img2,
.home-gift-img3{
	width: 289px;
	height: 281px;
	background-size: 289px 281px;
	z-index: 4;
}
.home-gift-img1{
	background-image: url(https://www.apple.com/v/home/ah/images/heroes/holiday-2021/set-b/airpods__b0941p5gmwj6_large.png);
}

.home-gift-img2{
	background-image: url(https://www.apple.com/v/home/ah/images/heroes/holiday-2021/set-b/watch__csqqcayzqueu_large.png);
}

.home-gift-img3{
	background-image: url(https://www.apple.com/v/home/ah/images/heroes/holiday-2021/set-b/ipadmini__f0pd6cilwaie_large.png);
}

/* TODO: animations for the spinners */
/* .unit-image-rotate{
	animation-delay: 0.125s;
	animation-direction: normal;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-name: rotate;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
} */

/* iPhone 13 pro */

.iphone-13-pro{
	position: relative;
}

.iphone-13-pro-hero{
	bottom: 100px;
	display: block;
	height: 570px;
	left: -750px;
	overflow-x: hidden;
	position: absolute;
	right: -2000.4px;
	top: 0px;
	width: 3010px;
	background-image: url(../assets/images/hero_iphone_13pro__dhnsegysa42u_large.jpg);
	background-size: cover;
	border-image-repeat: unset;
	z-index: -1;
}

/* iPhone 13 */

.iphone-13{
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
}

.iphone-13 .unit-copy-wrapper h2{
	color: rgb(245, 245, 247);
}

.iphone-13 .unit-copy-wrapper h3{
	color: rgb(254, 194, 235);
}

.iphone-13-hero{
	bottom: 0px;
	display: block;
	/* height: 570px; */
	left: -750px;
	position: absolute;
	right: -2000.4px;
	top: -50px;
	width: 3010px;
	background-image: url(https://www.apple.com/v/home/ah/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_large.jpg);
	background-size: cover;
	border-image-repeat: unset;
	z-index: -1;
}

/* collection module */

.grid-wrapper{
	display: block;
}

.collection-module{
	display: grid;
	left: 12px;
	position: relative;
	z-index: 40;
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.374px;
	line-height: 25px;
	text-align: left;
	text-size-adjust: 100%;
	color: rgb(29, 29, 31);
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-style: solid;
	border-bottom-width: 12px;
	grid-template-areas: none;
	grid-template-columns: 741.6px 741.6px;
	column-gap: 12px;
	row-gap: 12px;
}

.promo-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px;
	height: 636px;
	max-width: 50vw;
	position: relative;
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.374px;
	line-height: 25px;
	text-align: left;
	text-size-adjust: 100%;
}

.promo-wrapper .unit-copy-wrapper{
	padding: 0px;
}
 
.promo-wrapper h4{
	margin-top: 53px;
	line-height: 44px;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: normal;
}
.promo-wrapper h5{
	margin-top: 4px;
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.336px;
	line-height: 26px;
} 

